.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem;
    img{
        width: 100%;
    }
    div{
        @extend %flexCenterColumn;
        align-items: flex-start;
        div{
            align-items: flex-start;
            padding: 32px;
            height: 250px;
        }
        a{
            margin: 32px;
        }
    }
}


.productCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem;
    .productCardMain{
        img{
            width: 100%;
            margin-bottom: 1.4em;
        }
        .productCardInfo{
            div{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                h5{
                    font-size: 1.15em;
                }
                .productCardPrice{
                    font-size: 1.4em;
                    font-weight: bold;
                }
                div{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 1.2em;
                    margin: 1.2em 0 1.2em 0;
                    .fi-br-shopping-basket{
                        text-align: center;
                        background-color: $color1Dark;
                        color: $light;
                        padding: 10px;
                        border-radius: 50%;
                        width: 1.2em;
                        height: 1.2em;
                        margin-right: 1.1em;
                        &:hover{
                            background-color: $color1Darker;
                        }
                    }
                    .fi-bs-heart{
                        text-align: center;
                        width: 1em;
                        height: 1em;
                        padding: 10px;
                        border-radius: 50%;
                        &:hover{
                            background-color: $mediumLight;
                        }
                    }
                }
            }
        }
    }
    .productCardOptions{
        h6{
            margin: 1em 0 1em 0;
        }
        div{
            display: flex;
        }
    }
}

.lightButton {
    color: $dark;
    background-color: $light;
    border-radius: 2em;
    padding: 1rem 1.5rem;
    text-align: center;
    font-weight: bold;
}

.mediumLightButton {
    color: $dark;
    background-color: $mediumLight;
    border-radius: 2em;
    padding: 1rem 1.5rem;
    text-align: center;
    font-weight: bold;
    &:hover{
        background-color: rgb(194, 201, 207);
    }
}

.darkButton {
    color: $light;
    background-color: $dark;
    border-radius: 2em;
    padding: 1rem 1.5rem;
    text-align: center;
    font-weight: bold;
}
