.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem;
    img{
        width: 100%;
    }
    div{
        @extend %flexCenterColumn;
        align-items: flex-start;
        div{
            align-items: flex-start;
            padding: 32px;
            height: 250px;
            p{
                
            }
        }
        a{
            margin: 32px;
        }
    }
}


.lightButton {
    color: $dark;
    background-color: $light;
    border-radius: 2em;
    padding: 1rem 1.5rem;
    text-align: center;
    font-weight: bold;
}

.darkButton {
    color: $light;
    background-color: $dark;
    border-radius: 2em;
    padding: 1rem 1.5rem;
    text-align: center;
    font-weight: bold;
}

.mediumLightButton {
    color: $dark;
    background-color: $mediumLight;
    border-radius: 2em;
    padding: 1rem 1.5rem;
    text-align: center;
    font-weight: bold;
}