* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;
}
main {
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    background-color: $light;
}
