/*--------------VARIABLES---------------*/

$light:aliceblue;
$mediumLight: rgb(210, 218, 225);
$dark: rgb(26, 24, 20);

$color1:rgb(0, 113, 204);
$color1Dark:rgb(7, 102, 179);
$color1Darker:rgb(9, 92, 160);
$color2: rgb(245, 226, 219);
$color3: rgb(93, 112, 85);

/*--------------EXTENDS---------------*/

%flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

%flexCenterColumn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

%cardProduct1{
    background-color: $color1;
    color:$light;
}
%cardProduct2{
    background-color: $color2;
    color:$dark;
}
%cardAdvice1{
    background-color: $color3;
    color:$light;
}
/*--------------MIXINS---------------*/

